  <button #editUserButton
          mdl-button
          mdl-button-type="raised"
          mdl-colored="primary"
          class="change-country-btn"
          mdl-ripple
          (click)="onDialogShow()">
    Change Country
  </button>
  <mdl-switch
    *ngIf="activeUser"
    class="change-country-switch"
    [(ngModel)]="followME"
    mdl-ripple>
    Follow me {{followME ? 'Stop' : 'Continue'}}
  </mdl-switch>
  <h4 *ngIf="!activeUser"
         lass="change-country-switch">
    You have not submit as a user yet
  </h4>

  <mdl-dialog #editUserDialog
              [mdl-dialog-config]="{
              clickOutsideToClose: true,
              styles:{'width': '300px', 'height':'200px'},
              isModal:true,
              openFrom: editUserButton,
              enterTransitionDuration: 400,
              leaveTransitionDuration: 400}">
    <i class="fa fa-times"
       aria-hidden="true"
       style="float: right;"
       (click)="onDialogHide()">
    </i>
    <h3 class="mdl-dialog__title">Type Address:</h3>

    <div class="mdl-dialog__content">
      <autocomplete
        (valueChanged)="submitDetals($event)">
      </autocomplete>
    </div>
  </mdl-dialog>


<div #fontpage>
  <sebm-google-map
    [latitude]="lat"
    [longitude]="lng"
    [style.height.px]="height">

    <sebm-google-map-marker
      [latitude]="lat"
      [longitude]="lng"
      [label]="countryName" >
    </sebm-google-map-marker>

    <sebm-google-map-marker
      [latitude]="item.lat"
      [longitude]="item.long"
      [label]="item.name" *ngFor='let item of items | async'>
    </sebm-google-map-marker>

  </sebm-google-map>
</div>

