<md-card class="top-nav">
  <md-card-header>
    <div class="menu-headng">
      <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>Profile
    </div>
    <div class="menu-item">
      <a href="welcome" mdl-button mdl-button-type="raised">Add my Location</a>
    </div>
    <div class="menu-item">
      <a href="mark" mdl-button mdl-button-type="raised">Find a friend</a>
    </div>
    <div class="menu-item">
      <a href="julie" mdl-button mdl-button-type="raised">Julie</a>
    </div>
  </md-card-header>
</md-card>
