li{
  list-style: none;
}

ul{
  padding: 0;
  width: 200px;
  border-bottom: thin solid #a5a0a0;

}
ul li a{
  color: #a5a0a0;
}

md-input-container{
  width: 200px;
}

.suggestions {
  max-height: 207PX;
  width: 220px;
  overflow: auto;
  background: white;
  padding: 13px;
}
