<div class="top-welcome">


  <mdl-card mdl-shadow="2" *ngIf="!locationName">
    <span class="loader">
      <mdl-spinner single-color active  >
      </mdl-spinner>
      <br>
      Finding you now..
    </span>
  </mdl-card>

  <mdl-card mdl-shadow="2" *ngIf="locationName">
    <mdl-card-title>
      <sebm-google-map [latitude]="location?.latitude"
        [longitude]="location?.longitude">
        <sebm-google-map-marker
          [latitude]="location?.latitude"
          [longitude]="location?.longitude"
          [label]="'ME'" ></sebm-google-map-marker>
      </sebm-google-map>
      <h4 mdl-card-title-text>Please Enter your name:</h4>
    </mdl-card-title>
    <mdl-card-supporting-text>
      <form [formGroup]="form">
      <span  *ngIf="locationName">
        <div style="margin-bottom: 25px;">
           <md-input-container>
             <input md-input placeholder="Name" formControlName="name"/>
             <md-hint *ngIf="name?.errors?.required">Field is required</md-hint>
        </md-input-container>
        </div>
        <md-input-container *ngFor='let name of locationName'>
          <input md-input value={{name}} disabled>
        </md-input-container>
        <br/>
      </span>
      </form>
    </mdl-card-supporting-text>
    <mdl-card-actions mdl-card-border>
      <button mdl-button mdl-button-type="raised" (click)="onSubmit()" mdl-colored="primary" [disabled]="!form.valid">Get Started</button>
    </mdl-card-actions>
    <mdl-card-menu>
      <button mdl-button mdl-button-type="icon" mdl-ripple >
        <mdl-icon>share</mdl-icon>
      </button>
    </mdl-card-menu>
  </mdl-card>
</div>


